* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.btn__wrapper{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
}

table {
    margin-left:auto;
    margin-right:auto;
    width: 600px;
    height: 600px;
    border:1px solid black;
    border-spacing:0px;
}

table input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:50px;
    border:0px;
    outline: none;
}

td {
    border:1px solid black;
}


.red {
    color:red
}

.blue {
    color:#4B89DC;
}

.blink {
    background-color: rgb(192, 228, 243);
}