* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.btn__wrapper{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
}

table {
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    height: 900px;
    border:1px solid black;
    border-spacing:0px;
}

table input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:30px;
}

td {
    border:1px solid black;
}

.red {
    color:red
}

.blue {
    color:blue
}