* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.btn__wrapper{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
}

table {
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    width: 400px;
    height: 400px;
    border:1px solid black;
    border-spacing:0px;
}

table input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size:35px;
    border:0px;
    outline: none;
    /* pointer-events: none; */
}

td {
    border:1px solid black;
}


.red {
    color:red
}

.blue {
    color:#4B89DC;
}

.blink {
    background-color: rgb(192, 228, 243);
}

.refresh_container {
    position: fixed;
    top:5%;
    left:5%;
    display: flex;
    flex-direction: column;
}
.refresh_container > button {
    padding:10px;
    margin-bottom: 20px;
    background-color: lightblue;
    border: 0.1px solid black;
    border-radius: 8px;
}
